@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.portfolio-section {
    min-height: 100vh;
}

.portfolio {
    scroll-snap-type: y mandatory;
}

.portfolio-section {
    min-height: 100vh;
    scroll-snap-align: start;
}