@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import 'tailwindcss';

#app {
  font-family: 'Space Mono';
}

:root {
    --accent-color: var(--color-orange-400);
}

@utility text-accent {
    color: var(--accent-color);
}

@utility bg-accent {
    background-color: var(--accent-color);
}

@utility border-accent {
    border-color: var(--accent-color);
}

@utility shadow-accent-20 {
  box-shadow: 0 8px 30px
    color-mix(
      in srgb,
      var(--accent-color) 20%,
      transparent
    );
}

@utility shadow-accent-80 {
  box-shadow: 0 0 8px
    color-mix(
      in srgb,
      var(--accent-color) 80%,
      transparent
    );
}

body {
    margin: 0;
    /*min-width: 320px;*/
    color: rgba(255, 255, 255, 0.85);
    background:
        /*radial-gradient(circle at 8% 8%, rgba(108, 92, 231, 0.4), transparent 32rem),
        radial-gradient(circle at 92% 92%, rgba(0, 206, 201, 0.3), transparent 30rem),*/
        #0F0F0F;
    background-attachment: fixed;
}

@layer components {
    .portfolio-section {
        @apply min-h-[calc(100vh-56px)] scroll-mt-20 grid place-items-center overflow-hidden p-8;
        box-sizing: border-box;
    }
}

@media (max-width: 520px) { section { padding: 1rem; } }

/*.portfolio-section {
    min-height: 100vh;
}*/

/*.portfolio {
    scroll-snap-type: y mandatory;
}*/

/*.portfolio-section {
    min-height: 100vh;
    scroll-snap-align: start;
}*/
